@import "../../node_modules/normalize.css/normalize.css";
@import "../../node_modules/sass-mediaqueries/media-queries";

/**
 * Project Variables
 */

// Overall Variables
$main-dimension: 260px;
$main-dimension-small: 410px;
$main-dimension-medium: 600px;

// Colors
$white: #fff;
$black: #000;
$gray-light: #f7f7f7;
$gray-dark: #3b3a3a;
$background-color_1: #739C40;
$background-color_2: #E7D4AC;
$background-color_3: #D96036;

// Space
$space: 30px;
$space-tiny: 10px;
$space-small: 15px;
$space-medium: 40px;
$space-large: 60px;

// Screen Sizes
$screen-mini: 1px;
$screen-small: 500px;
$screen-medium: 720px;

// Wrapper Padding
$wrapper-padding: 20px;
$wrapper-padding-small: 30px;
$wrapper-padding-medium: 60px;

/**
 * Global Styles
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
  color: $gray-dark;
  font-size: 16px;
  line-height: 22px;

  @include min-screen($screen-small) {
    font-size: 16px;
    line-height: 22px;
  }
}

a {
  color: $gray-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: $space-tiny;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Mixins/Utilities
 */

// Aspect Ratio Mixin
@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before { content:''; float: left; padding-bottom: 0; }
  &:after  { content:''; display: table; clear: both; }
}

/**
 * Components
 */

// A "column" has a margin on the right to organize content
.column {
  display: inline-block;
  margin-bottom: ($space-tiny * 2);
  margin-right: ($space-tiny * 2);

  @include min-screen($screen-small) {
    margin-right: $space;
  }
}

// A "block" holds content, but is forced to a 1:1 aspect ratio
.block {
  @include aspect-ratio(1);
  @extend .column;
  max-height: auto;
  max-width: auto;
  min-width: $main-dimension;
  overflow: hidden;

  @include min-screen ($screen-medium) {
    max-height: $main-dimension-medium;
    max-width: $main-dimension-medium;
    min-width: $main-dimension-medium;
  }

  .content {
    width: 100%;
  }
}

.block-2 {
  @include aspect-ratio(1);
  @extend .column;
  max-height: auto;
  max-width: auto;
  min-width: $main-dimension;
  overflow: hidden;

  @include min-screen ($screen-medium) {
    max-height: $main-dimension-medium;
    max-width: $main-dimension-medium;
    min-width: $main-dimension-medium;
  }

  .content {
    width: 100%;
  }

  @include max-screen($screen-medium) {
    display: none;
  }
}

.overlaid-text-box{
    position: relative;
    display: inline-block; /* Make the width of box same as image */

  .group{
      position: absolute;
      z-index: 1;
      margin: 0 auto;
      top: 27%;
      left: 0;
      right: 0;
      text-align: center;
      width: 84%;

    .image{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }

    .button{
        border: 1px solid #3B3A3A;
        border-radius: 4px;
        color: #3B3A3A;
        padding: 10px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 100%;
        margin: 12px 0px 0px 0px;
        cursor: pointer;
    }
  }
}

.dismiss-button {
	background-color: $white;
  border: 1px solid $gray-dark;
	border-radius: 4px;
	color: $gray-dark;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	line-height: 24px;
	margin: 20px auto 0;
	cursor: pointer;
	font-weight: 400;
  width: fit-content;
}

.color-badge-1 {
	width: 60px;
	height: 10px;
	background-color: $background-color_1;
	display: inline-block;
	margin-top: 15px;
}
.color-badge-2 {
	width: 60px;
	height: 10px;
	background-color: $background-color_2;
	display: inline-block;
	margin-top: 15px;
}
.color-badge-3 {
	width: 60px;
	height: 10px;
	background-color: $background-color_3;
	display: inline-block;
	margin-top: 15px;
}

// A "content-column" is like a column, but has a max-width of 330px for content it holds
// They're also the same width
.content-column {
  @extend .column;
  flex-grow: 1;
  max-height: auto;
  max-width: auto;
  min-width: $main-dimension;
  & > :first-child, .column-content :first-child {
    margin-top: 6px;
  }

  @include min-screen ($screen-small) {
    max-width: 330px;
    min-width: 330px;
  }

  @include max-screen ($screen-small) {
    margin-bottom: 0px;
  }
}

  .column-title {
    height: 22px;
    font-weight: bold;
    margin-bottom: 16px;

      @include max-screen ($screen-small) {
        margin-top: 16px;
      }
  }

/**
 * Layouts
 */

// Wrapper
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 72px 0 $space $wrapper-padding;
}

// Header
.header {
  height: 72px;
  left: 0;
  padding-left: $wrapper-padding;
  padding-top: $space-small;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  white-space: nowrap;

  // @include min-screen($screen-medium) {
  //   position: fixed;
  // }
}

@include min-screen($screen-small) {
  .wrapper,
  .header {
    padding-left: $wrapper-padding-small;
  }
}

@include min-screen($screen-medium) {
  .wrapper,
  .header {
    padding-left: $wrapper-padding-medium;
  }
}

// Navigation
.site-nav-wrap {
  display: inline-block;
  margin-right: $space-small;
  position: relative;
  white-space: normal;
}
.nav-icon {
  background: url('../images/menu-icons.png') no-repeat left center;
  background-size: 84px 42px;
  cursor: pointer;
  height: 42px;
  position: relative;
  width: 42px;
  z-index: 100;
}
.site-nav {
  background: $gray-light;
  display: none;
  left: 0;
  padding-left: $space-large;
  position: absolute;
  top: 0;
  width: 295px;
  z-index: 50;
  box-shadow: 2px 2px 5px 0 rgba(0,0,0,0.1);

  .nav-item {
    display: block;
    border-bottom: 1px solid $gray-dark;
    padding: 12px 0;

    &:last-child {
      border-bottom: none;
    }
  }
}

.site-nav-wrap.open {
  .nav-icon {
    background-position: right center;
  }
  .site-nav {
    display: block;
  }
}

.site-logo {
  display: inline-block;
  position: relative;
  top: -10px;
}

.nav-title {
  font-size: 106.25%;
  font-weight: normal;
  margin: 0 0 0 15px ;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

// Horizontal Scrolling!
.columns,
.projects,
.project {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  @include min-screen($screen-medium) {
    flex-flow: row; 
  }
}

//Hiding false column titles on small screens
.small-hidden {
  @include max-screen($screen-small) {
    display: none;
  }
}

// Project Page (Homepage) Styles
.project {
  margin-bottom: 0;

  &:last-of-type {
    margin-right: 0;

    @include min-screen($screen-medium) {
      margin-right: $space;
    }
  }
}

.project-lead {
  display: flex;
  justify-content: center;
  padding-top: $space-small;

  @include min-screen($screen-medium) {
    padding: $space;
  }

  .project-title {
    font-size: 100%;
    margin: 20px 0 0;
    padding: 0;

    @include min-screen($screen-mini) {
      margin-top: $space;
      padding: 0;
    }
  }

  .project-title-adjusted {
    font-size: 100%;
    margin: 20px 0 0;
    padding: 0;

    @include min-screen($screen-mini) {
      margin-top: 24px;
      padding: 0;
    }
  }

   .project-title-adjusted-2 {
    font-size: 100%;
    margin: 0;
    padding: 0;

    @include min-screen($screen-small) {
      margin-top: 0;
      padding: 0;
    }
  }

  .project-content {
    display: block;
    margin: 16px 0 22px 0;

    @include min-screen($screen-small) {
      display: block;
    }

    @include min-screen($screen-mini) {
      margin: 16px 0 8px 0;
    }

    .content-extended {
      font-size: 0;

      @include min-screen($screen-small) {
        font-size: 100%;
      }
    }
  }

  .project-download {
    background-color: white;
    border: 1px solid #3B3A3A;
    border-radius: 4px;
    color: #3B3A3A;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 0px 4px 0px 0px;
    cursor: pointer;

    @include min-screen($screen-small) {
      display: inline-block;
    }

    @include min-screen($screen-mini) {
     margin: 14px 4px 0px 0px;
    }
  }

  .project-download-2 {
    background-color: white;
    border: 1px solid #3B3A3A;
    border-radius: 4px;
    color: #3B3A3A;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    margin: 18px 4px 0px 0px;
    cursor: pointer;

    @include min-screen($screen-small) {
      display: inline-block;
      margin: 12px 4px 0px 0px;
    }
  }
}

.back-wrap {
  align-items: center;
  display: flex;
  margin-right: 20px;

  .back {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 42px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $space-medium;
    width: 42px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    @include min-screen($screen-medium) {
      margin-left: 0;
      margin-right: $space-large;
      margin-bottom: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}

.column-spacer {
  display: flex;
  width: 0;
  padding-right: ($space-tiny * 2);

  @include min-screen($screen-small) {
    padding-right: $space;
  }
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100vw; /* Full width (cover the whole page) */
    height: 100vh; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.95); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $gray-dark;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    backdrop-filter: blur(3px);
	  -webkit-backdrop-filter: blur(3px);

    img:first-child {
      margin-right: $space-small;
    }

    img:last-child {
      margin-left: $space-small;
      transform: rotate(180deg);
    }
}

.image-container {
	position: relative;
	display: inline-block;
	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
  title {
		font-size: 1.75rem;
		line-height: 2.4rem;
		max-width: 100%;
		width: 100%;
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 0px;
		font-weight: 600;
	}
	main {
		font-size: 1.75rem;
		line-height: 2.4rem;
		max-width: 100%;
		width: 100%;
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 0px;
		font-weight: 400;
	}
	small {
		font-size: .9rem;
		line-height: 1.2rem;
		max-width: 100%;
		width: 100%;
		display: inline-block;
		margin-top: 15px;
		margin-bottom: 0px;
		font-weight: 400;
	}
}
.text-overlay {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: left;
	color: $gray-dark;
	width: 90%;
	max-width: 100%;
	display: inline-block;
	padding-top: 97px;
}
.text-overlay-centered {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: $white;
	width: 90%;
	max-width: 100%;
	display: inline-block;
	padding-top: 97px;
}
.text-overlay-centered-2 {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: $gray-dark;
	width: 90%;
	max-width: 100%;
	display: inline-block;
	padding-top: 97px;
}
@media screen and (max-width: 720px) {
	.text-overlay {
		padding-top: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		title {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-top: 12px;
		}
		main {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-top: 12px;
		}
		small {
			font-size: .77rem;
			line-height: 1rem;
			margin-top: 13px;
		}
	}
	.text-overlay-centered, .text-overlay-centered-2 {
		padding-top: 0;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		title {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-top: 12px;
		}
		main {
			font-size: 1.5rem;
			line-height: 2rem;
			margin-top: 12px;
		}
	}
}
@media screen and (max-width: 600px) {
	.text-overlay, .text-overlay-centered, .text-overlay-centered-2 {
		title {
			font-size: 1.25rem;
			line-height: 1.6rem;
			margin-top: 10px;
		}
		main {
			font-size: 1.25rem;
			line-height: 1.6rem;
			margin-top: 10px;
		}
		small {
			font-size: .64rem;
			line-height: .8rem;
			margin-top: 9px;
		}
	}
  .color-badge-1, .color-badge-2, .color-badge-3 {
    width: 50px;
    height: 8px;
    margin-top: 12px;
  }
}
@media screen and (max-width: 540px) {
	.text-overlay, .text-overlay-centered, .text-overlay-centered-2 {
		title {
			font-size: 1.125rem;
			line-height: 1.5rem;
			margin-top: 9px;
		}
		main {
			font-size: 1.125rem;
			line-height: 1.5rem;
			margin-top: 9px;
		}
		small {
			font-size: .5rem;
			line-height: .6rem;
			margin-top: 8px;
		}
	}
}
@media screen and (max-width: 480px) {
	.text-overlay, .text-overlay-centered, .text-overlay-centered-2 {
		title {
			font-size: 1rem;
			line-height: 1.33rem;
			margin-top: 8px;
		}
		main {
			font-size: 1rem;
			line-height: 1.33rem;
			margin-top: 8px;
		}
	}
  .color-badge-1, .color-badge-2, .color-badge-3 {
    width: 40px;
    height: 6px;
    margin-top: 8px;
  }
}
@media screen and (max-width: 359px) {
	.text-overlay, .text-overlay-centered, .text-overlay-centered-2 {
		title {
			font-size: .75rem;
			line-height: 1rem;
			margin-top: 6px;
		}
		main {
			font-size: .75rem;
			line-height: 1rem;
			margin-top: 6px;
		}
	}
}
