// Automatically injected Bower dependencies via wiredep (never manually edit this block)
// bower:scss
@import "../../bower_components/sass-mediaqueries/_media-queries.scss";
// endbower

/**
 * Project Variables
 */

// Overall Variables
$main-dimension: 260px;
$main-dimension-small: 410px;
$main-dimension-medium: 600px;

// Colors
$white: #fff;
$black: #000;
$gray-light: #f7f7f7;
$gray-dark: #3b3a3a;

// Space
$space: 30px;
$space-tiny: 10px;
$space-small: 15px;
$space-medium: 40px;
$space-large: 60px;

// Screen Sizes
$screen-small: 500px;
$screen-medium: 720px;

// Wrapper Padding
$wrapper-padding: 20px;
$wrapper-padding-small: 30px;
$wrapper-padding-medium: 60px;

/**
 * Global Styles
 */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, sans-serif;
  color: $gray-dark;
  font-size: 16px;
  line-height: 22px;

  @include min-screen($screen-small) {
    font-size: 16px;
    line-height: 22px;
  }
}

a {
  color: $gray-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  margin-bottom: $space-tiny;
}

img {
  max-width: 100%;
  height: auto;
}

/**
 * Mixins/Utilities
 */

// Aspect Ratio Mixin
@mixin aspect-ratio($ratio-or-width, $height: null) {
  $padding: if($height, percentage($height/$ratio-or-width), percentage(1/$ratio-or-width));
  &:before { content:''; float: left; padding-bottom: 0; }
  &:after  { content:''; display: table; clear: both; }
}

/**
 * Components
 */

// A "column" has a margin on the right to organize content
.column {
  display: inline-block;
  margin-bottom: ($space-tiny * 2);
  margin-right: ($space-tiny * 2);

  @include min-screen($screen-small) {
    margin-right: $space;
  }
}

// A "block" holds content, but is forced to a 1:1 aspect ratio
.block {
  @include aspect-ratio(1);
  @extend .column;
  max-height: auto;
  max-width: auto;
  min-width: $main-dimension;
  overflow: hidden;

  @include min-screen ($screen-small) {
    max-height: $main-dimension-small;
    max-width: $main-dimension-small;
    min-width: $main-dimension-small;
  }

  @include min-screen ($screen-medium) {
    max-height: $main-dimension-medium;
    max-width: $main-dimension-medium;
    min-width: $main-dimension-medium;
  }

  .content {
    width: 100%;
  }
}

// A "content-column" is like a column, but has a max-width of 330px for content it holds
// They're also the same width
.content-column {
  @extend .column;
  flex-grow: 1;
  max-height: auto;
  max-width: auto;
  min-width: $main-dimension;
  & > :first-child, .column-content :first-child {
    margin-top: 6px;
  }

  @include min-screen ($screen-medium) {
    max-width: 330px;
    min-width: 330px;
  }

  @include max-screen ($screen-small) {
    margin-bottom: 0px;
  }
}

  .column-title {
    height: 22px;
    font-weight: bold;
    margin-bottom: 16px;

      @include max-screen ($screen-small) {
        margin-top: 16px;
      }
  }

/**
 * Layouts
 */

// Wrapper
.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 72px 0 $space $wrapper-padding;
}

// Header
.header {
  height: 72px;
  left: 0;
  padding-left: $wrapper-padding;
  padding-top: $space-small;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  // @include min-screen($screen-medium) {
  //   position: fixed;
  // }
}

@include min-screen($screen-small) {
  .wrapper,
  .header {
    padding-left: $wrapper-padding-small;
  }
}

@include min-screen($screen-medium) {
  .wrapper,
  .header {
    padding-left: $wrapper-padding-medium;
  }
}

// Navigation
.site-nav-wrap {
  display: inline-block;
  margin-right: $space-small;
  position: relative;
}
.nav-icon {
  background: url('../images/menu-icons.png') no-repeat left center;
  background-size: 84px 42px;
  cursor: pointer;
  height: 42px;
  position: relative;
  width: 42px;
  z-index: 100;
}
.site-nav {
  background: $gray-light;
  display: none;
  left: 0;
  padding-left: $space-large;
  position: absolute;
  top: 0;
  width: 220px;
  z-index: 50;

  .nav-item {
    display: block;
    border-bottom: 1px solid $gray-dark;
    padding: 12px 0;

    &:last-child {
      border-bottom: none;
    }
  }
}

.site-nav-wrap.open {
  .nav-icon {
    background-position: right center;
  }
  .site-nav {
    display: block;
  }
}

.site-logo {
  display: inline-block;
  position: relative;
  top: -10px;
}

.nav-title {
  font-size: 106.25%;
  font-weight: normal;
  margin: 0 0 0 15px ;
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

// Horizontal Scrolling!
.columns,
.projects,
.project {
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  @include min-screen($screen-small) {
    flex-flow: row; 
  }
}

//Hiding false column titles on small screens
.small-hidden {
  @include max-screen($screen-small) {
    display: none;
  }
}

// Project Page (Homepage) Styles
.project {
  margin-bottom: 0;

  &:last-of-type {
    margin-right: 0;

    @include min-screen($screen-small) {
      margin-right: $space;
    }
  }
}

.project-lead {
  display: flex;
  justify-content: center;
  padding-top: $space-small;

  @include min-screen($screen-small) {
    padding: $space;
  }

  .project-title {
    font-size: 100%;
    margin: 20px 0 0;
    padding: 0;

    @include min-screen($screen-small) {
      margin-top: $space;
      padding: 0;
    }
  }

  .project-content {
    display: block;
    margin: $space-small 0 0 0;

    @include min-screen($screen-small) {
      display: block;
    }

    .content-extended {
      font-size: 0;

      @include min-screen($screen-medium) {
        font-size: 100%;
      }
    }
  }

  .project-download {
    display: block;
    margin: $space-small 0 0 0;

    @include min-screen($screen-small) {
      display: block;
    }
  }
}

.back-wrap {
  align-items: center;
  display: flex;
  margin-right: 20px;

  .back {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 42px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $space-medium;
    width: 42px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);

    @include min-screen($screen-small) {
      margin-left: 0;
      margin-right: $space-large;
      margin-bottom: 0;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}

.column-spacer {
  display: flex;
  width: 0;
  padding-right: ($space-tiny * 2);

  @include min-screen($screen-small) {
    padding-right: $space;
  }
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.75); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.06em;

    img:first-child {
      margin-right: $space-small;
    }

    img:last-child {
      margin-left: $space-small;
      transform: rotate(180deg);
    }
}
